In [47]:
planet_list = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

planet_list.append('Pluto')

print(planet_list)

num_planets = len(planet_list)

print ('Hay', num_planets, 'planetas en el sistema solar, el último planeta es',planet_list[-1],'.')

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno', 'Pluto']
Hay 9 planetas en el sistema solar, el último planeta es Pluto .

In [40]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print('There are', len(planets), 'planets')

planets.append('Pluto')

print(planets[-1], 'is the last planet')

There are 8 planets
Pluto is the last planet

In [82]:
# Lista de planetas
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus' ,'Neptune']

planet_user = input ('Teclea el nombre del Planeta con la inicial en Mayúscula')
print(planet_user)

Mars

In [79]:
indice_planet_user = planets.index (planet_user)
print(indice_planet_user + 1)

4

In [80]:
print('Los planetas mas cercanos a', planet_user, 'son:')
print(planets[0:indice_planet_user])

Los planetas mas cercanos a Mars son:
['Mercury', 'Venus', 'Earth']

In [85]:
print('Los planetas mas lejanos a ' + '"' + planet_user + '" son:')
print(planets[indice_planet_user + 1:])

Los planetas mas lejanos a "Mars" son:
['Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print(planets)

planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Mars is also known as Red Planet

In [6]:
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])
print('The first planet is', planets[3])
print('The second planet is', planets[4])
print('The third planet is', planets[5])
print('The second planet is', planets[6])
print('The second planet is', planets[7])

The first planet is Mercury
The second planet is Venus
The third planet is Earth
The first planet is Mars
The second planet is Jupiter
The third planet is Saturn
The second planet is Uranus
The second planet is Neptune

In [3]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [4]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [5]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

In [6]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

In [13]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [15]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [17]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

planets_before_earth = planets[0:2]

print(planets_before_earth)

['Mercury', 'Venus']

In [24]:
planets_after_earth = planets[3:8]

print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [27]:
planets_after_earth = planets[3:]

print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [30]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [31]:
# ordenar en alfabetico

regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [32]:
# Para ordenar una lista en forma inversa, llamamos al método .sort(reverse=True) de la lista

regular_satellite_moons.sort(reverse=True)

print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']