In [45]:
def generate_report(main_tank, external_tank, hydrogen_tank):
    total_average = (main_tank + external_tank + hydrogen_tank) / 3
    return f"""Fuel Report:
    Total Average: {total_average}%
    Main tank: {main_tank}%
    External tank: {external_tank}%
    Hydrogen tank: {hydrogen_tank}% 
    """

In [46]:
print(generate_report(80, 70, 85))

Fuel Report:
    Total Average: 78.33333333333333%
    Main tank: 80%
    External tank: 70%
    Hydrogen tank: 85%

In [47]:
def average(values):
    total = sum(values)
    number_of_items = len(values)
    return total / number_of_items

    average([80, 85, 81])

In [49]:
def generate_report(main_tank, external_tank, hydrogen_tank):
    return f"""Fuel Report:
    Total Average: {average([main_tank, external_tank, hydrogen_tank])}%
    Main tank: {main_tank}%
    External tank: {external_tank}%
    Hydrogen tank: {hydrogen_tank}% 
    """
    print(generate_report(88, 76, 70))

In [50]:
def mission_report(pre_launch_time, flight_time, destination, external_tank, main_tank):
    return f"""
    Mission to {destination}
    Total travel time: {pre_launch_time + flight_time} minutes
    Total fuel left: {external_tank + main_tank} gallons
    """

print(mission_report(14, 51, "Moon", 200000, 300000))

    Mission to Moon
    Total travel time: 65 minutes
    Total fuel left: 500000 gallons

In [51]:
def mission_report(destination, *minutes, **fuel_reservoirs):
    return f"""
    Mission to {destination}
    Total travel time: {sum(minutes)} minutes
    Total fuel left: {sum(fuel_reservoirs.values())}
    """

print(mission_report("Moon", 10, 15, 51, main=300000, external=200000))

    Mission to Moon
    Total travel time: 76 minutes
    Total fuel left: 500000

In [52]:
def mission_report(destination, *minutes, **fuel_reservoirs):
    main_report = f"""
    Mission to {destination}
    Total travel time: {sum(minutes)} minutes
    Total fuel left: {sum(fuel_reservoirs.values())}
    """
    for tank_name, gallons in fuel_reservoirs.items():
        main_report += f"{tank_name} tank --> {gallons} gallons left\n"
    return main_report

print(mission_report("Moon", 8, 11, 55, main=300000, external=200000))

    Mission to Moon
    Total travel time: 74 minutes
    Total fuel left: 500000
    main tank --> 300000 gallons left
external tank --> 200000 gallons left

In [9]:
# Defino mi función
def rocket_parts():
    print('payload, propellant, structure')

In [15]:
# Llamo a mi función

    rocket_parts()
'payload, propellant, structure'

    output = rocket_parts()
payload, propellant, structure

    output is None
True

IndentationError: unexpected indent (1280464216.py, line 3)

In [16]:
    def rocket_parts():
        return 'payload, propellant, structure'

    output = rocket_parts()
    output
'payload, propellant, structure'

'payload, propellant, structure'

In [17]:
    any([True, False, False])
True
    any([False, False, False])
False

False

In [18]:
    any()
Traceback (most recent call last):
  File '<stdin>', line 1, in <module>
TypeError: any() takes exactly one argument (0 given)

SyntaxError: invalid syntax (2825225822.py, line 2)

In [20]:
    str()
''
    str(15)
'15'

'15'

In [21]:
def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

In [22]:
    distance_from_earth()
Traceback (most recent call last):
  File '<stdin>', line 1, in <module>
TypeError: distance_from_earth() missing 1 required positional argument: 'destination'

SyntaxError: invalid syntax (2387480945.py, line 2)

In [23]:
    distance_from_earth('Moon')
'238,855'

'238,855'

In [24]:
    distance_from_earth('Saturn')
'Unable to compute to that destination'

'Unable to compute to that destination'

In [25]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [26]:
    days_to_complete(238855, 75)
132.69722222222222

132.69722222222222

In [27]:
    total_days = days_to_complete(238855, 75)
    round(total_days)
133

133

In [28]:
    round(days_to_complete(238855, 75))
133

133

In [29]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

In [30]:
    arrival_time()
'Arrival: Saturday 16:42'

'Arrival: Saturday 16:42'

In [31]:
    arrival_time(hours=0)
'Arrival: Thursday 13:42'

'Arrival: Thursday 13:42'

In [32]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

In [33]:
    arrival_time()
Traceback (most recent call last):
  File '<stdin>', line 1, in <module>
TypeError: arrival_time() missing 1 required positional argument: 'destination'

SyntaxError: invalid syntax (904579734.py, line 2)

In [34]:
    arrival_time('Moon')
'Moon Arrival: Saturday 16:54'

'Moon Arrival: Saturday 16:54'

In [35]:
    arrival_time('Orbit', hours=0.13)
'Orbit Arrival: Thursday 14:11'

'Orbit Arrival: Thursday 14:11'

In [36]:
def variable_length(*args):
    print(args)

In [37]:
    variable_length()
()
    variable_length('one', 'two')
('one', 'two')
    variable_length(None)
(None,)

()
('one', 'two')
(None,)

(None,)

In [38]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'

In [39]:
    sequence_time(4, 14, 18)
'Total time to launch is 36 minutes' 
    sequence_time(4, 14, 48)
'Total time to launch is 1.1 hours'

'Total time to launch is 1.1 hours'

In [40]:
def variable_length(**kwargs):
    print(kwargs)

In [41]:
    variable_length(tanks=1, day='Wednesday', pilots=3)
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [42]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')

In [43]:
    crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')
3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

SyntaxError: invalid syntax (1480787251.py, line 2)

In [44]:
    crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', pilot='Michael Collins')
  File '<stdin>', line 1
SyntaxError: keyword argument repeated: pilot

IndentationError: unexpected indent (2982953073.py, line 2)